@import "../../../colors.scss";

.btn {
    padding: 0;
    border: none;

    &__generate_advice {
        position: relative;
        top: 30%;

        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: $neon_green;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            box-shadow: 0px 0px 40px #53FFAA;
        }
    }
}